<nav>
    <h1>Name variations</h1>
</nav>

<main>
    <div>
        <label class="label" for="component-name">Ingresa tu nombre</label>
        <input type="text" class="textbox" placeholder="Tu nombre" id="your-name">
    </div>

    <div class="table-container">
        <table border="1">
            <thead>
                <tr>
                    <th width="200px">Ejercicios</th>
                    <th>Resultado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Número de caracteres</td>
                    <td id="answer1"></td>
                </tr>
                <tr>
                    <td>Primer character</td>
                    <td id="answer2"></td>
                </tr>
                <tr>
                    <td>último character</td>
                    <td id="answer3"></td>
                </tr>
                <tr>
                    <td>minúsculas</td>
                    <td id="answer4"></td>
                </tr>
                <tr>
                    <td>Mayúsculas</td>
                    <td id="answer5"></td>
                </tr>
                <tr>
                    <td>Capitalizado</td>
                    <td id="answer6"></td>
                </tr>
                <tr>
                    <td>Sin espacios en blanco</td>
                    <td id="answer7"></td>
                </tr>
            </tbody>
        </table>
    </div>
</main>